html, body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
  color: #464646;
}

a:active {
  color: #FFA35C;
}

#wl {
  text-decoration: none;
  color: white;
}

#p {
  text-indent: -10px;
  line-height: 2;
}

#big {
  font-size: 36px;
  font-weight: lighter;
  text-align: left;
}

#small {
  font-size: 10px;
}

img {
  display: block;
  margin: auto;
  max-height: 90vh;
  max-width: 95vw;
  height: auto;
  width: auto;
}

#footerpic {
  max-width: 50vw;
  height: auto;
  margin: auto;
}

#icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
}
div {
  padding-top: 1vh;
  padding-bottom: 10vh;
  padding-left: 20vw;
  padding-right: 20vw;
}
#about {
  background-color: #42B4AC;
}
#projects {
  background-color: #464646;
  color: white;
}
#contact {
  background-color: #6B56C3;
  color: white;
  text-align: center;
  padding-bottom: 2.5vh;
}
